.login-card {
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  margin-bottom: 0.5rem;
  color: var(--color-text);
}

.form-subtitle {
  margin-bottom: 1.7rem;
  color: var(--color-muted);
}

.password-box {
  position: relative;
}

.show-btn {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: var(--color-muted);
  cursor: pointer;
  font-size: 0.85rem;
}

.btn-login {
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem;
  background: var(--color-primary);
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
}

.btn-login:hover {
  background: var(--color-primary-dark);
}

.extra-links {
  margin-top: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.extra-links a {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.extra-links a:hover {
  text-decoration: underline;
}

/* TABLET */
@media (max-width: 1023px) and (min-width: 768px) {
  .login-card {
    grid-template-columns: 1fr 1fr;
  }

  .login-form {
    padding: 2.2rem;
  }
}

/* MÓVIL */
@media (max-width: 767px) {
  .login-card {
    grid-template-columns: 1fr;
  }

  .login-image {
    display: none;
  }

  .login-form {
    padding: 1.6rem 1.25rem;
  }

  .btn-login {
    font-size: 1rem;
  }
}